<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="rt.koko.domain.AddressDO" alias="AddressDO"/>
		<typeAlias type="rt.koko.domain.AddressCheckDO" alias="AddressCheckDO"/>
		<typeAlias type="rt.koko.domain.AddressSearchDO" alias="AddressSearchDO"/>
		<typeAlias type="rt.koko.domain.DocumentDO" alias="DocumentDO"/>
		<typeAlias type="rt.koko.domain.DocumentSearchDO" alias="DocumentSearchDO"/>
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="JNDI">
				<property name="data_source" value="java:comp/env/jdbc/oracle"/>
			</dataSource>
		</environment>		
	</environments>
	
	<mappers>
		<mapper resource="rt/koko/persistence/Address.xml"/>
		<mapper resource="rt/koko/persistence/Document.xml"/>
		
	</mappers>
	
	
</configuration>
